<div class="interview-wrap common-wrap">
    <h1 class="shine-title">系统人员管理</h1>
    <div class="interview-tabs recomme">
        <ul>
            <li ng-class="{active: tabState == 1}" ng-click="switchTab(1)">内部招聘申请</li>
            <li ng-class="{active: tabState == 2}" ng-click="switchTab(2)">联系方式获取申请</li>
            <li ng-class="{active: tabState == 3}" ng-click="switchTab(3)">我要上传简历</li>
        </ul>
    </div>
    <div class="employee-wrap">
        <div class="select-cell fl mr64">
            <span class="fl grey">1、选择简历：</span><div class="common-btn fl">上传简历</div>
        </div>
        <div class="select-cell fl mr64">
            <span class="fl grey">2、选择简历投递岗位及部门：</span>
        </div>
        <star-rating ngrating="communicationSkill"  click="clickRating('communicationSkill',param)" mouse-hover="mouseHoverRating('communicationSkill',param)" mouse-leave="mouseLeaveRaging('communicationSkill',param)"></star-rating>
                    <span class="label label-primary">{{hoverCommunicationSkillRating}}</span>
    </div>
    <div class="box-foot grey">
        <div class="search-confirm">发布至HR专员审核</div>
    </div>
</div>
<div class="recharge-modal apply">
    <div class="recharge-title">申请充值<i class="close"></i></div>
    <div class="recharge-content apply">
        <div class="select-cell">
            <span class="fl grey1 mg0">请填写充值数额：</span>
            <input type="text" ng-model="filters.q" class="search_showbox fl" ng-enter="searchResume()">
        </div>
        <div class="select-cell">
            <textarea class="reason"></textarea>
        </div>
    </div>
    <div class="recharge-foot">
        <div class="confirm-btn fl">确定</div>
        <div class="common-btn fl ml15">取消</div>
    </div>
</div>
<div class="recharge-modal">
    <div class="recharge-title">充值记录<i class="close"></i></div>
    <div class="recharge-content">
        <div class="shine-table main-table">
            <table class="table">
                <thead>
                    <tr class="active">
                    <th>岗位名称</th>
                    <th>发布部门</th>
                    <th>发布日期</th>
                    <th>结束日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>产品1</td>
                    <td>23/11/2013</td>
                    <td>待发货</td>
                    <td>产品1</td>
                    </tr>
                    <tr>
                    <td>产品2</td>
                    <td>10/11/2013</td>
                    <td>发货中</td>
                    <td>产品2</td>
                </tr>
                    <tr>
                    <td>产品3</td>
                    <td>20/10/2013</td>
                    <td>待确认</td>
                    <td>产品3</td>
                </tr>
                <tr>
                    <td>产品4</td>
                    <td>20/10/2013</td>
                    <td>已退货</td>
                    <td>产品4</td>
                </tr>
                <tr>
                    <td>产品4</td>
                    <td>20/10/2013</td>
                    <td>已退货</td>
                    <td>产品4</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="recharge-modal">
    <div class="recharge-title">查看<i class="close"></i></div>
    <div class="recharge-content">
        <div class="shine-table main-table">
            <table class="table">
                <thead>
                    <tr class="active">
                        <th>申请部门</th>
                        <th>申请积分数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>大数据中心</td>
                        <td>5000</td>
                        <td>
                            <div class="search_resume_box fl mg0" ng-init="resumeLevelShow = false" ng-mouseenter="showMenu('resumeLevelShow')" ng-mouseleave="hideMenu('resumeLevelShow')">
                                <div class="search_resume_showbox w80">3-5年<span class="select-btn"></span></div>
                                <ul id="resumeLevel" class="select_resume_option" uib-collapse="!resumeLevelShow" aria-expanded="false" aria-hidden="true">
                                    <li ng-model="filters.resumeLevel" uib-btn-radio="" ng-click="selectFilter($event)">不限</li>
                                    <li ng-model="filters.resumeLevel" uib-btn-radio="'high'" ng-click="selectFilter($event)">完整度高</li>
                                    <li ng-model="filters.resumeLevel" uib-btn-radio="'low'" ng-click="selectFilter($event)">完整度低</li>
                                </ul>
                            </div>
                            <input type="text" ng-model="filters.q" class="search_showbox fl w180 ml10" ng-enter="searchResume()">
                            <div class="common-btn-little fl ml10">提交</div>
                        </td>
                    </tr>
                    <tr>
                        <td>大数据中心</td>
                        <td>5000</td>
                        <td>
                            <div class="search_resume_box fl mg0" ng-init="resumeLevelShow = false" ng-mouseenter="showMenu('resumeLevelShow')" ng-mouseleave="hideMenu('resumeLevelShow')">
                                <div class="search_resume_showbox w80">3-5年<span class="select-btn"></span></div>
                                <ul id="resumeLevel" class="select_resume_option" uib-collapse="!resumeLevelShow" aria-expanded="false" aria-hidden="true">
                                    <li ng-model="filters.resumeLevel" uib-btn-radio="" ng-click="selectFilter($event)">不限</li>
                                    <li ng-model="filters.resumeLevel" uib-btn-radio="'high'" ng-click="selectFilter($event)">完整度高</li>
                                    <li ng-model="filters.resumeLevel" uib-btn-radio="'low'" ng-click="selectFilter($event)">完整度低</li>
                                </ul>
                            </div>
                            <input type="text" ng-model="filters.q" class="search_showbox fl w180 ml10" ng-enter="searchResume()">
                            <div class="common-btn-little fl ml10">提交</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>