<div class="publish-box">
    <h1 class="shine-title">发布招聘岗位</h1>
    <div class="select-wrap">
        <div class="select-resume fl mr5">
            <input type="text" ng-model="filters.q" class="search_showbox fl w365" ng-enter="searchResume()">
        </div>
        <div class="confirm-btn fl">确定</div>
        <div class="common-btn fl ml15">发布新招聘岗位</div>
    </div>
</div>
<div class="interview-wrap common-wrap">
    <h1 class="shine-title">招聘管理</h1>
    <div class="select-wrap">
        <div class="select-resume fl mr38">
            <span class="fl">岗位名称：</span>
            <input type="text" ng-model="filters.q" class="search_showbox fl" ng-enter="searchResume()">
        </div>
        <div class="select-resume fl">
            <span class="fl title-left">发布状态：</span>
            <div class="search_resume_box fl mb0" ng-init="resumeLevelShow = false" ng-mouseenter="showMenu('resumeLevelShow')" ng-mouseleave="hideMenu('resumeLevelShow')">
                <div class="search_resume_showbox w200">3-5年<span class="select-btn"></span></div>
                <ul id="resumeLevel" class="select_resume_option" uib-collapse="!resumeLevelShow" aria-expanded="false" aria-hidden="true">
                    <li ng-model="filters.resumeLevel" uib-btn-radio="" ng-click="selectFilter($event)">不限</li>
                    <li ng-model="filters.resumeLevel" uib-btn-radio="'high'" ng-click="selectFilter($event)">完整度高</li>
                    <li ng-model="filters.resumeLevel" uib-btn-radio="'low'" ng-click="selectFilter($event)">完整度低</li>
                </ul>
            </div>
        </div>
        <div class="search-btn shine-left" ng-click="show()"></div>
    </div>
 <!--   <div class="interview-table">
        <table class="table">
        <thead>
            <tr class="active">
            <th>岗位名称</th>
            <th>发布部门</th>
            <th>发布日期</th>
            <th>结束日期</th>
            <th>状态</th>
            <th>简历数量</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>待发货</td>
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
            </tr>
            <tr>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>发货中</td>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
            <tr>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>待确认</td>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
            <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
  <uib-pagination total-items="totalItems" ng-model="currentPage" 
  previous-text="上一页" next-text="下一页" max-size="5" ng-change="pageChanged()"></uib-pagination>
</div> -->
<div class="common-table">
    <table class="table table-title" style="table-layout: fixed;">
        <tbody>
            <tr class="active">
                <td>岗位名称</td>
                <td>发布部门</td>
                <td>发布日期</td>
                <td>结束日期</td>
                <td>状态</td>
                <td>简历数量</td>
                <td width="160">操作</td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-repeat="interviewStr in interviewStrs" style="table-layout: fixed;">
        <tbody>
            <tr>
                <td>{{interviewStr.name}}</td> 
                <td>{{interviewStr.starttime}}</td> 
                <td>{{interviewStr.endtime}}</td> 
                <td>{{interviewStr.status}}</td> 
                <td>{{interviewStr.quantity}}</td> 
                <td>{{interviewStr.quantity}}</td>
                <td width="160">
                    <a>编辑</a>
                    <a>提醒</a>
                    <a>查看</a>
                    <a>重新申请</a>
                    <a>撤销申请</a>
                    <a>停止发布</a>
                </td>
            </tr>
        </tbody>
    </table>
    <uib-pagination total-items="totalItems" ng-model="currentPage" previous-text="上一页" next-text="下一页" max-size="5" ng-change="pageChanged()"></uib-pagination>
</div>