<div class="interview-wrap common-wrap">
    <h1 class="shine-title">积分管理</h1>
    <div class="interview-tabs">
        <ul>
            <li ng-class="{active: tabState == 1}" ng-click="switchTab(1)">部门积分</li>
            <li ng-class="{active: tabState == 2}" ng-click="switchTab(2)">个人积分</li>
            <li ng-class="{active: tabState ==3}" ng-click="switchTab(3)">部门积分管理</li>
        </ul>
    </div>
    <div class="select-wrap">
        <div class="select-resume fl mr64">
            <span class="fl title-left">部门现有积分：</span><span class="fl f14 orange">5000</span>
        </div>
        <div class="select-resume fl mr64">
            <span class="fl title-left">部门已用积分：</span><span class="fl f14">5000</span>
        </div>
        <div class="common-btn fl" ng-click="apply()">申请充值</div>
        <a class="fl record">充值记录</a>
    </div>
    <div class="interview-table">
        <table class="table">
        <thead>
            <tr class="active">
            <th>岗位名称</th>
            <th>发布部门</th>
            <th>发布日期</th>
            <th>结束日期</th>
            <th>状态</th>
            <th>简历数量</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>待发货</td>
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
            </tr>
            <tr>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>发货中</td>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
            <tr>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>待确认</td>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
            <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>