<div class="interview-wrap common-wrap">
    <div class="select-wrap">
        <div class="select-resume fl mr38">
            <span class="fl">关键字：</span>
            <input type="text" ng-model="filters.q" class="search_showbox fl" ng-enter="searchResume()">
        </div>
        <div class="select-resume fl mr38">
            <span class="fl">学历：</span>
            <input type="text" ng-model="filters.q" class="search_showbox fl" ng-enter="searchResume()">
        </div>
        <div class="select-resume fl">
            <span class="fl title-left">工作年限：</span>
            <div class="search_resume_box fl mg0" ng-init="resumeLevelShow = false" ng-mouseenter="showMenu('resumeLevelShow')" ng-mouseleave="hideMenu('resumeLevelShow')">
                <div class="search_resume_showbox w200">3-5年<span class="select-btn"></span></div>
                <ul id="resumeLevel" class="select_resume_option" uib-collapse="!resumeLevelShow" aria-expanded="false" aria-hidden="true">
                    <li ng-model="filters.resumeLevel" uib-btn-radio="" ng-click="selectFilter($event)">不限</li>
                    <li ng-model="filters.resumeLevel" uib-btn-radio="'high'" ng-click="selectFilter($event)">完整度高</li>
                    <li ng-model="filters.resumeLevel" uib-btn-radio="'low'" ng-click="selectFilter($event)">完整度低</li>
                </ul>
            </div>
        </div>
        <div class="search-btn shine-left" ng-click="show()"></div>
    </div>
    <div class="interview-table">
        <table class="table">
        <thead>
            <tr class="active">
            <th>岗位名称</th>
            <th>发布部门</th>
            <th>发布日期</th>
            <th>结束日期</th>
            <th>状态</th>
            <th>简历数量</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>待发货</td>
            <td>产品1</td>
            <td>23/11/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
            </tr>
            <tr>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>发货中</td>
            <td>产品2</td>
            <td>10/11/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
            <tr>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>待确认</td>
            <td>产品3</td>
            <td>20/10/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
            <tr>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>已退货</td>
            <td>产品4</td>
            <td>20/10/2013</td>
            <td>88</td>
            <td>
                <a>编辑</a>
                <a>查看</a>
                <a>重新申请</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>