<div class="interview-wrap common-wrap">
    <h1 class="shine-title">简历管理</h1>
    <div class="interview-tabs">
        <ul>
            <li ng-class="{active: tabState == 1}" ng-click="switchTab(1)">全部简历</li>
            <li ng-class="{active: tabState == 2}" ng-click="switchTab(2)">按岗位查看</li>
        </ul>
    </div>
    <div class="select-wrap">
        <div class="select-resume fl mr38">
            <span class="fl">关键字：</span>
            <input type="text" ng-model="filters.q" class="search_showbox fl" ng-enter="searchResume()">
        </div>
        <div class="select-resume fl mr38">
            <span class="fl">学历：</span>
            <input type="text" ng-model="filters.q" class="search_showbox fl" ng-enter="searchResume()">
        </div>
        <div class="select-resume fl">
            <span class="fl title-left">工作年限：</span>
            <div class="search_resume_box fl mg0" ng-init="resumeLevelShow = false" ng-mouseenter="showMenu('resumeLevelShow')" ng-mouseleave="hideMenu('resumeLevelShow')">
                <div class="search_resume_showbox w200">3-5年<span class="select-btn"></span></div>
                <ul id="resumeLevel" class="select_resume_option" uib-collapse="!resumeLevelShow" aria-expanded="false" aria-hidden="true">
                    <li ng-model="filters.resumeLevel" uib-btn-radio="" ng-click="selectFilter($event)">不限</li>
                    <li ng-model="filters.resumeLevel" uib-btn-radio="'high'" ng-click="selectFilter($event)">完整度高</li>
                    <li ng-model="filters.resumeLevel" uib-btn-radio="'low'" ng-click="selectFilter($event)">完整度低</li>
                </ul>
            </div>
        </div>
        <div class="search-btn shine-left" ng-click="show()"></div>
    </div>
<div class="common-table">
    <table class="table table-title" style="table-layout: fixed;">
        <tbody>
            <tr class="active">
                <td width="76">
                    <div class="checkboxe">
                        <input class="select-all" type="checkbox" ng-model="checkboxes.checked" value="" id="checkboxPoolAll" name="" />
                        <label for="checkboxPoolAll"></label>全选
                    </div>
                </td>
                <td>岗位名称</td>
                <td>发布部门</td>
                <td>发布日期</td>
                <td>结束日期</td>
                <td>状态</td>
                <td>简历数量</td>
                <td>简历数量</td>
                <td>简历数量</td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-repeat="interviewStr in interviewStrs" style="table-layout: fixed;">
        <tbody>
            <tr>
                <td width="76">
                    <div class="checkboxe">
                        <input type="checkbox" ng-model="checkboxes.ids[interviewStr.id]" value="" id="{{'checkboxPool_'+$index+1}}" name="" />
                        <label for="{{'checkboxPool_'+$index+1}}" class="child"></label>
                    </div>
                </td>
                <td>{{interviewStr.name}}</td> 
                <td>{{interviewStr.starttime}}</td> 
                <td>{{interviewStr.endtime}}</td> 
                <td>{{interviewStr.status}}</td> 
                <td>{{interviewStr.quantity}}</td> 
                <td>{{interviewStr.quantity}}</td> 
                <td>{{interviewStr.quantity}}</td> 
                <td>{{interviewStr.quantity}}</td> 
            </tr>
            <tr>
                <td colspan="9" class="resume-detail-box">
                    <div class="resume-detail">
                        <div class="detail-img"></div>
                        <ul class="detail-text">
                            <li>
                                <span class="fl">招聘职位：</span>
                                <div class="text-right"><p>产品经理  |  和金在线（北京）科技有限公司  |  北京</p></div>
                            </li>
                            <li>
                                <span class="fl">最近工作：</span>
                                <div class="text-right">
                                    <P>产品经理  |  旭东科技有限公司  |  2016年-今</p>
                                    <p>1.负责公司产品体系建设；  2.公司各条产品线规划设计；  3.产品需求质量把控；  4深度挖掘用户需求，饼将
需求转化为公司业务；  5.团队管理</p>
                                </div>
                            </li>
                            <li>
                                <span class="fl">毕业院校：</span>
                                <div class="text-right"><p>华东理工大学  |  计算机科学与技术  |  本科</p></div>
                            </li>
                            <li>
                                <span class="fl">最近工作：</span>
                                <div class="text-right">
                                    <P>无线产品高级经理  |  优购网络科技有限公司  |  2013/5-2016/7</p>
                                    <p>产品经理／主管  |  拉近网娱乐集团有限公司  |  2012/1-2013/3</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="resume-foot-left">
    <div class="select-pool fl">
        <div class="checkboxe">
            <input class="select-all" type="checkbox" ng-model="checkboxes.checked" value="" id="checkboxPoolAll" name="" />
            <label for="checkboxPoolAll"></label>全选
        </div>
    </div>
    <a>简历下载</a>
    <a>取消标签</a>
</div>
<uib-pagination class="my-page" total-items="totalItems" ng-model="currentPage" previous-text="上一页" next-text="下一页" max-size="5" ng-change="pageChanged()"></uib-pagination>
</div>